<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="../assets/mark-dark@2x.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu has-text-weight-bold">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
          <a class="navbar-item">
            Documentation
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <a *ngIf="!myUser" href="/register">Sign up</a>
          </div>
          <!-- <div class="navbar-item">
            <h1 *ngIf="myUser">GOT THE USER!!!</h1>
            <h1>Name: {{(myUser | async)?.uid}}</h1>
          </div> -->
          <div class="navbar-item" *ngIf="myUser">
            <!-- <a [routerLink]="['/', username]">Profile</a> -->
            <a [routerLink]="['/', myUser.displayName]">{{myUser.displayName}}</a>
          </div>
          <div class="navbar-item">
            <a *ngIf="!myUser" href="/login">Log in</a>
            <a rel="nofollow" *ngIf="myUser" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
