.hero {
  // background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.plvstik-shot {
  // height: 337.5px;
  height: auto;
  padding: 13px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  & .plvstik-image {
    height: 272.5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
