<!-- TODO: Check if user is logged in and conditionally display sign up banner -->
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-text-serif has-text-dark has-text-centered">
        PLVSTIK
      </h1>
      <h2 class="subtitle has-text-light has-text-centered is-family-primary">
        The leading online destination for designers to showcase <br /> their artwork and creations.
      </h2>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="buttons is-centered">
  <a class="button" href="/login">Login</a>
  <a class="button is-primary is-outlined" href="/register">Get Started</a>
  <!-- <span class="button">No</span> -->
</div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-quarter-desktop is-half-tablet" *ngFor="let shot of shots | async">
        <div class="plvstik-shot">
          <div class="plvstik-image" [ngStyle]="{ 'background-image': 'url(' + shot.image_url + ')'}">
          </div>
          <ul class="actions">
            <li>{{shot.title}}</li>
            <!-- <li>View</li> -->
            <!-- <li>Favorite</li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
