/* You can add global styles to this file, and also import other style files */
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Bentham');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700');


$menu-item-color: #313131;
$navbar-item-color: #313131;


// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-primary: 'Muli', sans-serif;
$family-sans-serif: 'Muli', sans-serif;
$family-sans-serif: 'Cardo', serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #FF7CBE;
$link: #FF7CBE;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

$radius: 0px;

// Typography
$light: #A7A7A7;

// Titles
.title {
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.02em;
}
.subtitle {
  font-family: 'Cardo', serif;
  letter-spacing: 0.34em;
  text-transform: uppercase;
}

// Navbar
$navbar-height: 6.5rem;
.navbar-item {
  letter-spacing: 0.02em;
}

// BUTTONS
$button-padding-horizontal: 2em;


// Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";
