<div class="wrap has-background-white-ter">


<section class="section is-small">
  <div class="container">
      <div class="box">
        <div class="columns is-centered">
          <div class="column is-narrow">
            <div class="level">
              <div class="level-item"><span class="button is-text">Posts</span></div>
            </div>
          </div>
          <div class="column is-narrow">
            <span class="button is-text">Posts</span>
          </div>
          <div class="column is-narrow">
            <span class="button is-text">Posts</span>
          </div>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <div class="box">
          <figure class="image is-300x300">
            <img src={{profileImageUrl}} alt="">
          </figure>
        </div>
      </div>
      <div class="column" *ngIf="user">
        <a href="{{user?.displayName}}/upload" class="button is-primary is-outlined">Click here to submit your first post!</a>
      </div>
    </div>
  </div>
</section>
</div>
